{% extends "base.html.twig" %}

{% block title %}
  ODE : AI
{% endblock %}

{% block body %}
  <body class="is-preload">
    <div
      id="page-wrapper">

      <!-- Main -->
      <div class="wrapper style1" id="main">
        <div class="container">
          <header class="major">
            <h2>Action Accompagnement</h2>
            <p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
          </header>
          <div class="row gtr-150">
            <div class="col-4 col-12-medium">

              <hr/>
              <!-- Sidebar -->
              <section id="sidebar">
                <section>
                  <a class="image fit" href="{{path('aci')}}"><img alt="" src="http://lorempixel.com/400/200/business/"/></a>
                  <h3>Ateliers et Chantier d'Insertion</h3>
                  <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <a class="button" href="{{path('aci')}}">Lire plus...</a>
                      </li>
                    </ul>
                  </footer>
                </section>
                <hr/>
                <section>
                  <a class="image fit" href="{{path('ai')}}"><img alt="" src="http://lorempixel.com/400/200/business/"/></a>
                  <h3>Association Intermédiaire</h3>
                  <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <a class="button" href="{{path('ai')}}">Lire plus...</a>
                      </li>
                    </ul>
                  </footer>
                </section>
                <hr/>
                <section>
                  <a class="image fit" href="{{path('formation')}}"><img alt="" src="http://lorempixel.com/400/200/business/"/></a>
                  <h3>Organisme de Formation</h3>
                  <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <a class="button" href="{{path('formation')}}">Lire plus...</a>
                      </li>
                    </ul>
                  </footer>
                </section>
                <hr/>
                <section>
                  <a class="image fit" href="{{path('partenaires')}}"><img alt="" src="http://lorempixel.com/400/200/business/"/></a>
                  <h3>Nos Partenaire</h3>
                  <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <a class="button" href="{{path('partenaires')}}">Lire plus...</a>
                      </li>
                    </ul>
                  </footer>
                </section>
                <hr/>

              </section>

            </div>
            <div
              class="col-8 col-12-medium imp-medium">

              <!-- Content -->
              <section id="content">
                <a class="image fit" href="https://picsum.photos/1000"><img alt="" src="https://picsum.photos/1000"/></a>
                <h3>Dolore Amet Consequat</h3>
                <p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
                <p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique.</p>
                <h3>Sed Magna Ornare</h3>
                <p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
                <ul>
                  <li>Faucibus orci lobortis ac adipiscing integer.</li>
                  <li>Col accumsan arcu mi aliquet placerat.</li>
                  <li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
                  <li>Blandit massa non blandit tempor interdum.</li>
                  <li>Lacinia mattis arcu nascetur lobortis.</li>
                </ul>
              </section>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
